= content_for :action_buttons do
  = link_to new_notification_content_path, class: 'uk-button uk-button-success' do
    %i{'uk-icon': 'plus'}
    New Template

- if @notification_contents.size == 0
  = render 'notification_contents/blank'
- else
  = render 'notification_contents/index', { notification_contents: @notification_contents }