%p
  %b Subject:
  = @notification_content.subject
%p
  %b Content:
  = simple_format @notification_content.content

= link_to 'Edit', edit_notification_content_path(@notification_content)
\|
= link_to 'Back', notification_contents_path
