%p
  %b Subject:
  = @notification_content.subject
%p
  %b Content:
  .well
    %iframe{src: "/notification_contents/#{@notification_content.id}/preview", width: '100%', height:'400px' }

= link_to 'Edit', edit_notification_content_path(@notification_content)
\|
= link_to 'Back', notification_contents_path
