.uk-card.uk-card-default.uk-card-body
  = simple_form_for(@notification,  html: { class: 'form-horizontal' }) do |f|
    = f.error_notification
    .uk-margin
      = f.input :name, label: t('notifications.form.name'), input_html: { class: 'uk-input' }

    = f.submit t('actions.save'), class: 'uk-button uk-button-primary'
