= content_for :action_buttons do
  = link_to new_notification_path, class: 'uk-button uk-button-success' do
    %i{'uk-icon': 'plus'}
    New Notification


- if @notifications.size == 0
  = render 'notifications/blank'
- else
  = render 'notifications/index', { notifications: @notifications }