
.uk-navbar-container:not(.uk-navbar-transparent) {
  background: #2394f2;
}

.uk-navbar-nav>li>a {
  color: #ccc;
}

.uk-navbar-nav>li.uk-active>a {
  color: #ffffff;
}

.uk-navbar-nav>li:hover>a, .uk-navbar-nav>li>a.uk-open, .uk-navbar-nav>li>a:focus {
  color: #ffffff;
  outline: 0;
}

 kbd {
  padding: .2rem .4rem;
  font-size: 90%;
  color: #fff;
  background-color: transparent;
  border-radius: .2rem;
}

html{ height:100%; }
body{ min-height: 100%; padding:0; margin:0; position:relative; }

body::after{ content:''; display:block; height: 100px; }

footer{
  position: absolute;
  bottom: 0;
  width: 100%;
}

.uk-button-success {
  background-color: #34bfa3;
  color: #fff;
  border: 1px solid transparent;
}

.uk-label-success {
  background-color: #34bfa3;
}
.uk-label-secondary {
  background-color: #222;
}

.uk-button-success:hover, .uk-button-success:focus, .uk-button-success.uk-active, .uk-button-success:active {
  background-color: #2ca189;
  color: #fff;
}

.uk-metal {
  background-color: #cac7c7;
  color: #fff;
}

.hint {
  font-size: 12px;
}

.error {
  color: #f93e3e;
}

.uk-notification-message {
  background: #d9eafc;
}

.CodeMirror {
    background: #f7f7f7;
    height: 500px;
}

/* Switch */

.uk-switch {
  position: relative;
  display: inline-block;
  height: 30px;
  width: 56px;
}

/* Hide default HTML checkbox */
.uk-switch input {
  display:none;
}
/* Slider */
.uk-switch-slider {
  background-color: rgba(0,0,0,0.22);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border-radius: 30px;
  bottom: 0;
  cursor: pointer;
  transition-property: background-color;
	transition-duration: 1.2s;
}
/* Switch pointer */
.uk-switch-slider:before {
  content: '';
  background-color: #fff;
  position: absolute;
  width: 26px;
  height: 26px;
  left: 2px;
  bottom: 2px;
  border-radius: 50%;
  transition-property: transform, box-shadow;
	transition-duration: .2s;
}
/* Slider active color */
input:checked + .uk-switch-slider {
  background-color: #39f !important;
}
/* Pointer active animation */
input:checked + .uk-switch-slider:before {
  transform: translateX(26px);
}

/* Inverse Modifier - affects only default */
.uk-light .uk-switch-slider:not(.uk-switch-on-off) {
  background-color: rgb(143, 159, 174);
}