= simple_form_for(@notification,  html: { class: 'form-horizontal' }) do |f|
  = f.error_notification
  .form-group
    = f.input :name, class: 'form-control'

  = f.submit 'Save', class: 'btn btn-primary'
  