%ul{"uk-tab" => ""}
  %li
    %a{:href => "#"} AWS SES
  %li
    %a{:href => "#"} Office 365
  %li
    %a{:href => "#"}= t('smtp.custom')
%ul.uk-switcher.uk-margin
  %li
    = render partial: 'smtp_settings/templates/aws_ses'
  %li
    = render partial: 'smtp_settings/templates/office365'
  %li
    = render partial: 'smtp_settings/templates/custom'
