.uk-card.uk-card-default.uk-card-body
  %p
    %b Provider:
    = @smtp_setting.provider
  %p
    %b Address:
    = @smtp_setting.address
  %p
    %b Port:
    = @smtp_setting.port
  %p
    %b Username:
    = @smtp_setting.username
  %p
    %b Password:
    ***********
