%ul{"uk-accordion" => ""}
  %li
    %a.uk-accordion-title{:href => "#"} Content
    .uk-accordion-content
      %div{style: 'background-color:white'}
        = (ap JSON.parse(activity.request_content) , { color: { hash: :blue }, html: false }).html_safe