= content_for :action_buttons do
  = link_to new_account_path, class: 'uk-button uk-button-success' do
    %i{'uk-icon': 'plus'}
    New Account


- if @accounts.size == 0
  = render 'accounts/blank'
- else
  = render 'accounts/index'